// colors
$primary: #2372b3;
$light_blue: #6aabd4;
$dark_blue: #3788ba;
$primary_grey: #5e5e5e;
$primary_text_color: #808080;
$background: #e2e2e2;
$text_color_bold: hsl(0, 0%, 11%);

// measurements
$header_height: 0px;
$drawerWidth: 100px;

// timeslider
$tooltip_content: 'This slider widget can be used to filter data. The slider has two thumbs which can be used to filter the data across a time period of interest.';
$wet_dry_tooltip_content: 'This slider widget can be used to filter data. The slider has a previous, next, and play button in order to navigate a 1-year time period.';
