@import '../../styles/variables.scss';

.container {
  height: 80%;
  width: 100%;

  .no-data-selected {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #919191;
    border: 2px dashed #c4c4c4;
    border-radius: 20px;
    margin: 2rem 3rem;

    span {
      font-size: 3.5rem;
    }

    h3 {
      text-transform: uppercase;
      font-size: 16px;
      margin: 0;
    }
  }

  #dataset-table {
    background-color: $background;
    padding: 20px;
    overflow-x: scroll;
    .esri-feature-table__loader-container {
      display: none;
    }
    .esri-feature-table__title {
      visibility: hidden;
    }
    .esri-grid .esri-grid__grid {
      border: none;
    }
    .esri-field-column__header-content {
      background: $primary;
      color: white;
    }
    .esri-grid .esri-column__sorter {
      color: white;
    }
    .esri-grid .esri-column__menu-container {
      visibility: hidden;
    }
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    color: $text_color_bold;
    text-transform: uppercase;
    padding: 8px 0 10px 0;
  }
  .url {
    text-transform: uppercase;
    padding-bottom: 15px;
    width: 20%;
    a {
      display: flex;
      align-items: center;
      color: #3788ba;
      text-decoration: none;
      i {
        margin-left: 5px;
      }
    }
  }

  .add-to-download-btn {
    padding-left: 20px;

    button {
      color: $primary;
      border-radius: 25px;
      border: 1px solid $primary;
      text-transform: uppercase;
      width: 260px;
      height: 50px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      background: white;
    }
  }
}
