* {
  box-sizing: border-box;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
}

/*
 Update scrollbacr styles
*/
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 7px;
  min-height: 84px;
  background-color: rgba(0, 0, 0, 0.1);
}
